/*
Theme Name: Sharepoint like
Description: Simple theme, looks like MS Sharepoint Services
original designer URI: http://www.admin-bg.info
*/

/* Fix IE spaces. Hide from IE Mac \*/
* ul li a {
	height: 1%;
}
a:link, a:visited {
	color: #2557AD;
}
a:hover {
	color: #2557AD;
}
blockquote {
	background-color: #E0E1CE;
	border: 5px #FFD275;
	margin-left: 30px;
	margin-right: 30px;
	padding: 0px 10px 0px 10px;
}
.block {
	margin: 0px 0px 15px 10px;
}
#mission {
	padding: 12px;
	font-family: Comic Sans MS, Verdana;
	background-color: #f9f9f9;
	color: #607080;
}

#primary {
	background-color: #E1ECFC;
	border-bottom: 1px solid #FFD275;
	color: #FFD275;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 0px;
	text-align: right;
}
#primary a {
	margin: 0px -5px 0px -5px;
	padding: 0px 5px 0px 5px;
}
#primary a:link, #primary a:visited {
	text-decoration: none;
	color: #2557AD;
	border: 5px #FFD275;
  text-transform: capitalize;
}
#primary a:hover {
	background-color: #2557AD;
	color: #FFFFFF;
}

body {
	background-color: #AAAAAA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 10px 0px 10px 0px;
	padding: 0px;
}
.node h2 {
	border-bottom: 1px dashed #2557AD;
	color: #2557AD;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 2px 0px;
}
.node h2 a:link, .node h2 a:visited {
	color: #2557AD;
	font-family: Comic Sans MS, Verdana;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
}
.node h2 a:hover {
	color: #FF0000;
}
.meta {
	color: #2557AD;
	font-size: 10px;
	margin-bottom: 15px;
}
.meta a:link, .meta a:visited {
	color: #FFD275;
}
.meta a:hover {
	color: #FFD2FF;
}
div .links {
	text-align: right;
}
.node-end {
	color: #FFD275;
	font-size: 18px;
	line-height: 0px;
	margin: 5px 0px 30px 0px;
	padding: 0px;
	text-align: center;
}
.node .content {
	font-family: Comic Sans MS, Verdana;
	font-size: 13px;
	font-weight: normal;
}
#block {
	margin: 0px 0px 12px 0px;
}
.trackback {
	font-size: 10px;
}
#about {
	margin: 0px 0px 20px 0px;
	padding: 0px;
}
#footer {
	background-color: #2557AD;
	border-top: 5px solid #FFD275;
	clear: both;
	font-size: 10px;
	padding: 5px;
	text-align: center;
}
#footer a {
	color: #FFFFFF;
}
#commentlist {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#commentlist cite {
	font-size: 10px;
	font-style: normal;
	margin: 7px 0px 0px 0px;
	padding: 0px;
}
#commentlist li {
	background-color: #E1ECFC;
	border-bottom: 1px solid #FFD275;
	border-top: 1px solid #FFD275;
	list-style-type: none;
	margin-bottom: 10px;
	padding: 10px;
}
#commentlist p {
	margin-top: 0px;
	padding-top: 0px;
}
#head {
	background-color: #2557AD;
	border-bottom: solid 5px #FFD275;
	clear: both;
	font-family: Georgia, "Times New Roman", Times, serif;
	height: 100px;
	padding: 20px 40px 0px 40px;
	text-align: center;
}
#head #slogan {
	color: #FFFFFF;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	padding: 0px 30px 0px 30px;
}
#head .small {
	color: #FFD275;
	font-size: 14px;
}
#head h1 {
	color: #FFD275;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
}
#head h1 a:link, #head h1 a:visited {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
}
#head h1 a:hover {
	text-decoration: underline;
}
#left {
	border-right: 5px #FFD275;
	float: left;
	padding: 20px 10px 20px 10px;
	width: 210px;
}
/* End */
#left h2 {
	background: none;
	border: none;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
#left a, #left .title {
  text-transform: capitalize;
}
#left .content ul ul {
	border-top: 0px;
}
#left .content ul {
	border-top: 1px solid #FFD275;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
#left .content ul li {
	border: none;
	display: block;
	font-weight: normal;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#left .content ul li li a:link, #left .content ul li li a:visited{
	padding: 0px 0px 0px 25px;
}
#left .content ul li li li a:link, #left .content ul li li li a:visited{
	padding: 2px 0px 2px 50px;
}
#left .content ul li a:link, #left .content ul li a:visited {
	background-color: #E1ECFC;
	border-bottom: 1px solid #FFD275;
	color: #003399;
	display: block;
	margin: 0px;
	padding: 2px 0px 2px 10px;
	text-decoration: none;
}
#left .content ul li a:hover {
	background-color: #2557AD;
	color: #FFFFFF;
}
#main {
	border-left: 1px #FFD275;
	margin-left: 0px;
	float: left;
	width: 740px;
	padding: 20px 0px 20px 20px;
}
#main textarea {
	width: 90%;
}
#main h1 {
	color: #2557AD;
	text-transform: capitalize;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 5px 5px;
	font-size: 160%;
	font-family: Comic Sans MS, Verdana;
	font-weight: normal;
}
.calendar {
	background-color: #E1ECFC;
	border: 1px solid #FFD275;
	margin: 0px 0px 10px 0px;
}
.calendar caption {
	border-bottom: 1px solid #003399;
	padding: 2px;
}
.calendar table {
	width: 100%;
  border: 0px;
}
.calendar table td {
	color: #0033FF;
	text-align: center;
}
.calendar a:link, .calendar a:visited {
	color: #003399;
	font-weight: bold;
	text-decoration: none;
}
.calendar a:hover {
	color: #003399;
}
.calendar table thead {
	font-size: 10px;
}
.calendar td, .calendar th {
  text-align: center;
  border: 0px;
  padding: 2px;
  margin: 0;
	font-size: 10px;
}
#wrap {
	background-color: #FFFFFF;
	border: 2px solid #2557AD;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
div.dashboard-panel-head {
	background-color: #2557AD;
	color: #FFFFFF;
	font-weight: bold;
}
#block-user-1 h2.title  {
	display: none;
}
